body {
    padding-top: 70px;
}

.clickable-row {
    /*The stat data rows will pop up a modal, this adds hover for clickability*/
    cursor: pointer;
}

.game-page-scores {
    /*This sets the font to be varying sizes as the page resizes*/
    font-size: 5.5vw;
}

.game-page-date {
    /*This sets the font to be varying sizes as the page resizes*/
    font-size: 2.5vw;
}

#conferences-container {
    display: none;
}

#teams-container {
    display: none;
}

#single-team-container {
    display: none;
}

#game-container {
    //display: none;
}